@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Spartan:wght@750&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

/* variables---- */
/* individual elements */
p {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: small;
  width: 80%;
  margin: 10px 0;
}

#btnNewCl, #btnNewProj, #endProject {
  width: 44%;
  color: black;
  background-color: #CBAEC2;
  border: none;
}

#addProd {
  color: black;
  background-color: #CBAEC2;
  border: none;
}

.client-input {
  color: white;
  padding: 5px 0 5px 10px;
  width: 80%;
  border-radius: 5px;
  background-color: #313030;
  border: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
}
body ::-webkit-scrollbar {
  display: none;
}
body .form-container {
  scrollbar-width: none;
  position: relative;
  top: 15%;
  box-sizing: border-box;
  width: 500px;
  height: 572px;
  padding: 40px 40px 0 40px;
  overflow: hidden;
  border-radius: 40px;
  background-color: white;
  box-shadow: inset 0px 0px 19px #bdbdbd;
  /* page Client */
  /* page Project */
  /* page Product */
}
body .form-container h2 {
  font-size: 3rem;
  color: #421442;
}
body .form-container .form-page {
  width: 100%;
  height: 100%;
  padding: 0;
}
body .form-container .user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  margin-top: 6%;
}
body .form-container .project {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
}
body .form-container .project .project-form {
  height: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body .form-container .project .project-footer {
  text-align: -webkit-center;
}
body .form-container .project .project-footer ::before {
  content: "";
  width: 98%;
  position: absolute;
  left: 0%;
  top: -29%;
  border: #d9d9d9 solid 1px;
}
body .form-container .products {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3.5fr 1fr;
  justify-items: center;
}
body .form-container .products h2 {
  margin-bottom: 0;
  font-size: 2rem;
  letter-spacing: 0;
  padding-bottom: 0;
}
body .form-container .products p {
  width: 100%;
  margin: 0 0 0.5rem 0;
  text-indent: 0.4rem;
}
body .form-container .products .product-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5px;
}
body .form-container .products .product-form #typeCont {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body .form-container .products .product-form #typeCont #box3d {
  background-image: url(4DICON.png);
}
body .form-container .products .product-form #typeCont #box2d {
  background-image: url(2DANIMICON.png);
}
body .form-container .products .product-form #typeCont #boxEv {
  background-image: url(EVICON.png);
}
body .form-container .products .product-form #typeCont .form-check.form-check-block {
  padding: 0;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid #542470 2px;
  border-radius: 15px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 100;
  text-shadow: 0 0 8px white, 0 0 4px white;
  background-size: contain;
}
body .form-container .products .product-form #typeCont .form-check.form-check-block label {
  font-style: "Montserrat", sans-serif;
}
body .form-container .products .product-form #typeCont .form-check.form-check-block .radio-check {
  position: relative;
  bottom: 18%;
  width: 18px;
  height: 29px;
}
body .form-container .products .product-form .product-creator {
  position: relative;
  height: 53%;
  background-color: #f1eeee;
  padding: 10px 10px 0 10px;
}
body .form-container .products .product-form .product-creator .multiplier {
  height: 38px;
  width: 50%;
  font-size: 0.84rem;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 5px 5px 0 0px;
  border: 2px;
  border-bottom: 2px solid #542470;
  margin: 15px 8px;
  text-align: center;
}
body .form-container .products .product-form .product-creator #seg2d {
  width: 38%;
}
body .form-container .products .product-form .product-creator #minVideo {
  width: 28%;
}
body .form-container .products .product-form .product-creator .task-pack {
  margin: 25px 0;
  display: flex;
  justify-content: space-evenly;
}
body .form-container .products .product-form .product-creator .task-pack .task-label {
  font-family: "Montserrat";
  font-weight: 600;
}
body .form-container .products .product-form .product-creator .product-instructions {
  padding-right: 10px;
  position: absolute;
  left: 11px;
}
body .form-container .products .product-form .confirmation-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .form-container .products .product-form .confirmation-btns .prod-confirm-container {
  display: flex;
  background-color: #f5e7f1;
  border-radius: 5px;
  padding-right: 10px;
  flex-direction: row;
  align-items: flex-end;
}
body .form-container .products .product-footer {
  position: relative;
  display: flex;
  width: 120%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #542470;
}
body .form-container .products .product-footer p {
  position: absolute;
  text-align: center;
  margin: 0;
}
body .form-container .products .product-footer ol {
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body .form-container .products .product-footer ol li {
  height: 70px;
  width: 70px;
  background: white;
  border-radius: 15px;
  box-shadow: 1px 4px 10px #111111;
  background-color: #bdbdbd;
  background-position: center;
  background-blend-mode: hard-light;
  transition: all 0.3s 0s;
}
body .form-container .products .product-footer ol .icon-0 {
  background-image: url(4DICON.png);
}
body .form-container .products .product-footer ol .icon-1 {
  background-image: url(2DANIMICON.png);
}
body .form-container .products .product-footer ol .icon-2 {
  background-image: url(EVICON.png);
}

#saveUserData {
  display: none;
}

/* multiplicadores */
#subType3d {
  display: none;
}

#timer2d {
  display: none;
}

#EVTimer {
  display: none;
}

/* tareas---------- */
#tasks3d {
  display: none;
}

#tasks2d {
  display: none;
}

#tasksEv {
  display: none;
}

/* instrucciones------ */
.product-instructions {
  z-index: 1;
}

.product-footer p {
  z-index: -1;
}

/* animaciones */
/* items y tarjetas on hover */
.product-footer ol li:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
}

/* paleta de colores----------------- 
-------------------------------------*/
/* Estilo Textos -----------
---------------------------- */
#show-card {
  display: none;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: white;
}

#closeCard {
  text-align: end;
}

/* Form hidders -----------*/
#subType3d, #tasks3d, #timer2d, #tasks2d, #EVTimer, #tasksEv {
  display: none;
}

/* Headings ------------
------------------------*/
h1 {
  color: black;
  font-family: "spartan", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 15px;
  padding: 10px;
}

h2 {
  color: grey;
  font-family: "spartan", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 10px;
  margin: 0px;
  display: -webkit-inline-box;
}

.navbar-body h3 {
  color: transparent;
  font-family: "spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0px;
  background: linear-gradient(to left, #ffb452, #ff88eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

h4 {
  font-family: "montserrat", sans-serif;
  padding: 10px;
}

/* Body! --------------
-----------------------*/
.cuerpo {
  background-color: black;
}

#nav-bar {
  width: 100%;
  background-color: black;
}
#nav-bar div {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-bar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
#nav-bar ul li {
  padding: 0 20px;
  color: transparent;
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0;
  background: linear-gradient(to left, #ffb452, #ff88eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#nav-bar ul li a {
  text-decoration: none;
}

main {
  width: 100%;
  display: flex;
  height: 800px;
  background: rgba(247, 237, 204, 0.733);
  background-image: url(https://64.media.tumblr.com/90d11c7e7f9ca7339bcefedcdda092c0/ea8be5827f0ac52b-7c/s1280x1920/15748f5f758f314c6f4ca37bc060cea9382e21e1.jpg);
  background-size: cover;
  background-position: -22rem, bottom;
}
main aside {
  position: relative;
  margin: auto 0;
  padding: 38px 20px;
  width: 35%;
  height: 100%;
  background: linear-gradient(118deg, white 20%, #ffe4977d);
}
main aside p {
  color: black;
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0px;
  margin: 10px 0;
  text-shadow: #f7edcc 1px 0 10px;
  font-weight: 500;
}
main aside p span {
  background: linear-gradient(to left, #ffb452, #ff88eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: black 3px 1px 0px;
}
main .bud-script {
  background: linear-gradient(314deg, #c4abff, #ffb8a6);
  width: 65%;
  box-shadow: -9px -3px 16px 0px black;
}

/* Tarjeta de Proyecto!!!------- */
.bud-script {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cards {
  border-radius: 20px;
  margin: 20px 0;
  padding: 20px;
  width: 580px;
  min-height: 200px;
  box-shadow: 0px 0px 17px 4px rgba(149, 149, 149, 0.7);
  transition: all 0.2s;
  background: radial-gradient(white, lightgrey);
  position: relative;
}
.cards h2 {
  color: white;
  margin: 0px;
}

#card-1 {
  display: none;
}

.card-toggle {
  margin: 20px;
  padding: 20px;
  width: 100px;
  min-height: 100px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(rgba(255, 180, 82, 0.521), rgba(255, 136, 235, 0.664));
}
.card-toggle .fa-star {
  margin-top: 12%;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  background: radial-gradient(#b99769, #a5709c);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__icon {
  background: linear-gradient(to left, #ffb452, #ff88eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: black 3px 1px 0px;
}

.card__exit {
  margin: 0px;
  grid-row: 1/2;
  justify-self: end;
  text-align: end;
  width: 100%;
}
.card__exit i {
  transform: scale(1.5);
  background: linear-gradient(to left, #ffb452, #ff88eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: black 0px 0px 0px;
}
.card__exit i:hover {
  transform: scale(2);
  text-shadow: none;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  padding: 5px 0;
  font-weight: 300;
  color: #000000;
  text-shadow: 4px 3px 5px #492681, 0px 0px 1px #000000;
}

.card__apply {
  margin: 0px;
  grid-row: 4/5;
  align-self: center;
  font-family: "spartan", sans-serif;
}

#saveUserData {
  align-self: end;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-image: url(projects-pattern.jpg);
  background-size: contain;
  background-repeat: space;
}

/* importing form sass */

/*# sourceMappingURL=style.css.map */
